@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


$body-font: "Raleway", sans-serif;
$heading-font: "Raleway", sans-serif;

$font-family-base: $body-font !default;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";




$headings-font-family: $heading-font;

$type-scale: (
  h1: (size: 3rem,   weight: 800, style: normal),
  h2: (size: 2.5rem, weight: 700, style: normal),
  h3: (size: 2rem,   weight: 600, style: normal),
  h4: (size: 1.10rem, weight: 500, style: normal),
  h5: (size: 1.15rem,weight: 400, style: normal),
  h6: (size: 1rem,   weight: 300, style: normal)  
  // example: type-h1, type-h2
);

@mixin apply-type-props($font-family, $props) {
  font-family: $font-family;
  font-size: map-get($props, size);
  font-weight: map-get($props, weight);
  font-style: map-get($props, style);
  line-height: 1.2;
  margin: 0 0 0.5rem 0;
}

@each $name, $props in $type-scale {
  #{$name} {
    @include apply-type-props($heading-font, $props);
  }
}

@each $name, $props in $type-scale {
  .type-#{$name} {
    @include apply-type-props($heading-font, $props);
  }
}

$p-default: (size: 1rem, weight: 300, style: normal);

p {
  font-family: $body-font;
  font-size: map-get($p-default, size);
  font-weight: map-get($p-default, weight);
  font-style: map-get($p-default, style);
  line-height: 1.6;
  margin: 0 0 1rem 0;
}

.type-p {
  font-family: $body-font;
  font-size: map-get($p-default, size);
  font-weight: map-get($p-default, weight);
  font-style: map-get($p-default, style);
  line-height: 1.6; // example: type-p
}

@import "partials/responsive-video";
@import "utlities.scss";
@import "variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/utilities";

