$theme-colors: (
  "primary": #ff5722,     // change color
  "secondary": #4a5568,   // change color
  "success": #22c55e,     // change color
  "info": #06b6d4,        // change color
  "warning": #fbbf24,     // change color
  "danger": #ef4444,      // change color
  "light": #f3f4f6,       // change color
  "dark": #111827         // change color
);

// Optional: add your own custom colors
$custom-colors: (
  "roxo1": #a29bfe,
  "roxo2": #6c5ce7,

 
);

// Merge custom colors into theme
$theme-colors: map-merge($theme-colors, $custom-colors);

// 1. Custom Hover Colors
$custom-hover-colors: (
    claudia1: #2d3436,
);

// 2. Generate text-hover-* classes
@each $name, $color in $custom-hover-colors {
  .text-hover-#{$name} {
    transition: color 0.2s ease;

    &:hover {
      color: $color !important;
    }
  }
}