$theme-colors: (
  "primary": #ff5722,     // change color
);

// Optional: add your own custom colors
$custom-colors: (
  "roxo1": #a29bfe,
  "roxo2": #6c5ce7,

);

// Merge custom colors into theme
$theme-colors: map-merge($theme-colors, $custom-colors);

// 1. Custom Hover Colors
$custom-hover-colors: (
  claudia1: #2d3436, //text-hover-claudia1
  claudia2: #6c5ce7, //text-hover-claudia2
  white: #fff, //text-hover-white
);

// 2. Generate text-hover-* classes
@each $name, $color in $custom-hover-colors {
  .text-hover-#{$name} {
    transition: color 0.2s ease;

    &:hover {
      color: $color !important;
    }
  }
}

/////////////////////////////////////////////////

$custom-border-colors: (
  "myborder": #6c5ce7, //border-claudia-border
  
);

// 1. Generate custom border classes
@each $name, $color in $custom-border-colors {
  .border-#{$name} {
    border: 1px solid $color !important;
  }
}

/////////////////////////////////////////////////
// Create your no-border-hover
.no-border-hover {
  &:hover {
    border: none !important; 
  }
}

//////////////////////////////////////////////// 

// Create your custom bg-hover colors
$bg-hover-colors: (
  "claudia1": #6c5ce7, //bg-hover-claudia1
  "claudia2": #a29bfe, //bg-hover-claudia1
  
);
@mixin bg-hover($color) {
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $color !important;
  }
}
@each $name, $color in $bg-hover-colors {
  .bg-hover-#{$name} {
    @include bg-hover($color);
  }
}


